<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>My Awesome App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" type="text/css" href="./style.css" /> -->
  </head>
  <body>
      <h1>sms form</h1>
    <form>
        <input type="tel" name="number" class="number" placeholder="input you phone number">
        <input type="text" name="message" class="message" placeholder="please enter the information that is to be sent">
        <button type="submit" value="submit" value="send text" class="btn button-primary" >SUBMIT</button>
    </form>
    <div class="response"></div>



    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>